*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;

}
html {
    scroll-behavior: smooth;
}
p{
    color:white;
    font-size: 20px ;
    font-family: 'Times New Roman', Times, serif;
}
.banner 
{
    position:relative;
    background: url('images/pic1.jpg') center no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    min-height: 100vh;
}
.banner .content 
{
 max-width: 900px;
 text-align: center;
}h1{
font-size: 50px;
color: white;
}

.btn{
text-decoration: none;
font-size: 20px;
color: cyan;
background: rgb(163, 6, 6);
padding: 10px 30px;
margin-top: 20px;
transition: 0.5s;
letter-spacing: 2px;
display: inline-block;
}
body{
    min-height: 1000px;
}
header
{
    position: fixed;
    top: 0;
    left:0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    transition: 0.5s;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
}

  header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 2px rgb(244, 240, 255);
    }
header.sticky .logo {
    color: rgb(17, 17, 17);
}
header.sticky .navigation li a {
    color: rgb(17, 17, 17);
}
header .logo
{
    font-size: 30px;
    text-decoration: none;
    font-weight: bolder;
    color: whitesmoke;
}
header .navigation
{
    position: relative;
    display: flex;
}
header .navigation li {
    list-style: none;
    margin-left: 30px;
}
header .navigation li  a {
   text-decoration: none;
   color: white;
}
header.sticky .navigation li  a:hover
{
    background: salmon;
}

section {
    padding: 50px;
}
.row {
position: relative;
width: 100%;
display: flex;
justify-content: space-between;
}
.row .col50 {
position: relative;
width: 50%;
}
p1{
    color: #795548;
    font-size: 20px ;
    font-family: 'Times New Roman', Times, serif;
}
.row .col50 .img
{
    position: relative;
    width: 100%;
    height: 100% ;
}
.row .col50 .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}.title- {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    margin-top: 40px ;
}
.menu .content .box {
    width: 340px;
    margin: 20px;
    border : 15px solid#fff ;
    box-shadow: 0 5px 35px #f1b9b9;
}
.menu .content .box  .img{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .img img {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.menu .content .box .text {
    padding : 15px 0 5px ;
}
.menu .content .box h4 {
    font-size: 20px;
    color: black;
    font-family: italic;
}

.expert .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction:row;
    margin-top: 40px ;
}
.expert .content .box {
    width: 250px;
    margin: 15px;
    
}
.expert .content .box  .img{
    position: relative;
    width: 100%;
    height: 300px;
}
.expert .content .box .img img {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.expert .content .box .text {
    padding : 15px 0 5px ;
}
h4{
    font-size: 20px;
    text-align: center;
    align-items: center;
}
.services {
    background: url('images/images\ \(2\).jpg');
    background-size: cover;
}
.white .title 
.white p {
    color: blue;

}
.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px ;
}
.services .content .box {
    width: 340px;
    margin: 20px;
   padding: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: rgb(184, 135, 153);
}
.services .content .box  .img{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius:50% ;
    overflow: hidden;
}
.services .content .box .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
   .services .content .box .text {
    text-align : center ;
}
.contact {
    background: url('images/1-05082.jpg');
    background-size: cover;
}
.contactForm {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px white;
    max-width: 500px;
    margin-top: 50px;
}
.contactForm h4 {
    color: white;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input ,
.contactForm .inputBox textarea
{
width: 100%;
border: 1px solid #555;
padding: 10px;
color:#111;
outline: none;
font-size: 16px;
font-weight: 300;
}
.contactForm .inputBox input[type="submit"]
{
    text-decoration: none;
    text-transform: uppercase;
    background: #ff0157;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    transition: 0.5s;
    max-width: 100px;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}
.copyright {
    padding: 8px 40px;
text-align: center;
border-top: 1px solid gray;
}
.copyright p {
    color: #333;
}
@media  (max-width :991px){
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background:white;
    }
    header .navigation li {
        margin-left: 0;
    }
    header .navigation li a {
        text-decoration: none;
        color: black;
        font-weight: 300;
        font-size:1.6em ;
    }
 .menuToggle{
     position: relative;
     width: 40px;
     height: 40px;
     background: url('images/menu-512.png');
     background-size: 30px;
     background-repeat: no-repeat;
     background-position: center;
     cursor: pointer;
 }
 .menuToggle.active{

 
 background: url('images/delete-cross-icon-design-vector-22050272.jpg');
     background-size: 25px;
     background-repeat: no-repeat;
     background-position: center;

 }
 header.sticky .menuToggle{
     fill: invert(1);
 }
 section {
     padding: 20px;
 }
 .banner .content h1 {
 font-size: 3em;
 color: blanchedalmond;
 }
 .row {
     flex-direction: column;
 }
 .row .col50 
{
    position: relative;
    width: 100%;
}
.row .col50 .img
{
  
    height: 300px ;
    margin-top: 20px;
}
.menu .content {
    margin-top: 20px;
}
.menu .content .box {
    margin: 10px;
}
.menu .content .box .img {
    height: 260px;
}
.title-{
    text-align: center;
}
.title {
font-size: 1.8em;
line-height: 1.5em;
margin-bottom: 15px;
font-weight: 300;
}
.services .content .box {
   
    margin: 10px;
   padding: 20px;
  
}
.contactForm {
    padding: 75px 50px;
   margin-top: 20px;
   margin-bottom: 30px;
   
}

}
@media  (max-width :480px){
    .banner .content h1{
        font-size: 2.2em;
        color: #fff;
    }
}